main {
    width: 100%;
    // height: 100vh;
    display: flex;
    justify-content: center;
    // align-items: center;

    form {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
}
